<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>StepnGo</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.googleusercontent.apps.216136334511-qfa9kvl3dmr7ur5mn9csj7g93art4op0</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLName</key>
        <string>StepnGos</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.googleusercontent.apps.652705413377-jk74faijr3q7esuduo786e85n6m55ngp</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLName</key>
        <string>StepnGoGo</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.googleusercontent.apps.632713767592-a2l1lhjakcvbefnh86m46d101ih8bis2</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLName</key>
        <string>twitter</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>twitterkit-jd4lWEHq437VM4vPw33OekIDr</string>
        </array>
      </dict>
    </array>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>DTPlatformVersion</key>
    <string>17.5</string>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>CFBundleName</key>
    <string>STEPNGO</string>
    <key>DTSDKName</key>
    <string>iphoneos17.5</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>To scan QR code, save running result page and take screenshot to feedback bugs.</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>NSLocationTemporaryUsageDescriptionDictionary</key>
    <dict>
      <key>MGLAccuracyAuthorizationDescription</key>
      <string>Please enable precise location. Turn-by-turn directions only work when precise location data is available.</string>
    </dict>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>This app uses location data for run tracking, route mapping and sharing, even when it’s in the background.</string>
    <key>CFBundleDisplayName</key>
    <string>STEPN GO</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>fbapi</string>
      <string>fbapi20130214</string>
      <string>fbapi20130410</string>
      <string>fbapi20130702</string>
      <string>fbapi20131010</string>
      <string>fbapi20131219</string>
      <string>fbapi20140410</string>
      <string>fbapi20140116</string>
      <string>fbapi20150313</string>
      <string>fbapi20150629</string>
      <string>fbapi20160328</string>
      <string>fbauth</string>
      <string>fb-messenger-share-api</string>
      <string>fbauth2</string>
      <string>fbshareextension</string>
      <string>twitter</string>
      <string>twitterauth</string>
      <string>https</string>
      <string>http</string>
      <string>tg</string>
    </array>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>This app uses location data for run tracking, route mapping and sharing, even when it’s in the background.</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>fetch</string>
      <string>location</string>
    </array>
    <key>DTSDKBuild</key>
    <string>21F77</string>
    <key>NSCameraUsageDescription</key>
    <string>This app needs camera access to scan QR codes or take photo for background</string>
    <key>CFBundleShortVersionString</key>
    <string>0.0.1</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>This app uses location data for run tracking, route mapping and sharing, even when it’s in the background.</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>23F79</string>
    <key>DTPlatformBuild</key>
    <string>21F77</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>DTXcodeBuild</key>
    <string>15F31d</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>MinimumOSVersion</key>
    <string>13.0</string>
    <key>CFBundleVersion</key>
    <string>1001</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>To scan QR code, save running result page and take screenshot to feedback bugs.</string>
    <key>UIAppFonts</key>
    <array>
      <string>PPNeueMachina-InktrapUltraboldItalic.ttf</string>
      <string>PPNeueMachina-PlainLightItalic.ttf</string>
      <string>PPNeueMachina-PlainSemiboldItalic.ttf</string>
      <string>PPNeueMachina-PlainUltraboldItalic.ttf</string>
    </array>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>NSMotionUsageDescription</key>
    <string>The app needs your access  to get the number of steps</string>
    <key>CFBundleIdentifier</key>
    <string>com.stepngo.app</string>
    <key>Privacy - Apple ID Usage Description</key>
    <string>The app needs to use your Apple ID to log in.</string>
    <key>DTXcode</key>
    <string>1540</string>
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>
    <key>NSLocationUsageDescription</key>
    <string>This app uses location data for run tracking, route mapping and sharing, even when it’s in the background.</string>
    <key>CFBundleExecutable</key>
    <string>Runner</string>
    <key>MBXAccessToken</key>
    <string>pk.eyJ1IjoiaW1yZWFsc2F0b3NoaSIsImEiOiJjbHllNDI4cHkwaHMzMmxzaHNlOHF3eGZtIn0.LFXhCcBToaLLuPlSdOVTcg</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
          <string>AppIcon76x76</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>DTAppStoreToolsBuild</key>
    <string>15F31d</string>
  </dict>
</plist>
